<div class="monster">
      <div class="monster-img"><%= image_tag(@monster.image_url) %></div>
      <div class="monster-info">
        <h3 class="monster-name"><%= @monster.name %></h3>
        <p class="monster-description">Lives in <%= @monster.city.name %></p>
        <hr>
        <div class="monster-footer">
          <ul class="monster-food">
            <li>Carrion</li>
            <li>Plants</li>
          </ul>
          
        </div>
      </div>
    </div>

    <%= link_to "Edit", edit_monster_path(@monster.id) %>
    <%= link_to "Delete", monster_path(@monster.id), method: :delete, data:{confirm: "Are you sure?"} %>
